<section id="publications" class="section-gray margin-bottom">
    <div class="container clearfix">
      <div class="row margin-bottom">
        <h2 class="heading">Publications</h2>
        <p></p>
        <div class="col-md-6 margin-bottom">
          {% for publication in page.publications %}
          <div>
            <h5><a href="{{publication.url}}">{{publication.name}}</a> {{publication.lang}}</h5>
            <p></p>
            {% for link in publication.links %}
              <a href="{{ link.url }}" class="btn btn-small" target="_blank">{{ link.name }}</a><br>
            {% endfor %}
          </div>
          {% endfor %}
          <hr>
        </div>
      </div>
    </div>
  </section>