<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading">The team</h2>
            <div class="row"></div>
            <div class="col-md-6 col-sm-6">
                <p class="lead">Initiators</p>
                {{ page.team_initiators|markdownify }}
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="lead">Participants</p>
                {{ page.team_participants|markdownify }}
            </div>
        </div>
    </div>
</div