{% include colors.html %}
<section id="{{include.custom_id}}" class="intro">
    <div class="overlay" style="background-color: #fff;"></div>
    <img src="{{ site.url }}/assets/images/eic.logo.image.svg" class="eic-logo-top-left">
    <div class="content row vertical-align">
        <div class="col-md-12 col-sm-12">
            <h1 class="eic-heading">
                <span class="black-text">EIC</span> <span class="orange-text">Incubator</span>
            </h1>
            <div class="lead">
                
                {{ include.content | markdownify }}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 spacer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 text-left col-xs-offset-7">
            <div class="row intro-footer">
                <div class="col-xs-2">
                    <p class="byline">A project by</p>
                </div>
                <div class="col-xs-10">
                    <img src="{{ site.url }}/assets/images/eic.logo.with-image.svg" class="eic-logo-bottom-right">
                </div>
            </div>
        </div>        
    </div>
    <a href="#projects" class="icon faa-float animated scroll-to" style="color:#000000; border-color: #000"><i
                class="fa fa-angle-double-down"></i></a>
                
            </section>

