<footer>
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12">
                <p class="text-small"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                                alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" style="transform: translateY(-2px)"></a>
                    European Investigative Collaborations by <a href="http://eic.network">eic.network</a> is licensed
                    under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                        Attribution-ShareAlike 4.0 International License</a> if not otherwise stated.
                </p>
            </div>
            <div class="col-md-8">Website development by <a href="http://www.spiegel-techlab.de" target="_blank">SPIEGEL
                    Tech Lab</a> and <a href="https://www.mediapart.fr" target="_blank">Mediapart</a></div>
            <div class="col-md-2">
                <p class="credit roboto"><a style="font-size:5px;" href="http://bootstrapious.com/portfolio-themes">Bootstrap
                        Portfolio
                        Themes</a></p>
                <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)-->
            </div>
        </div>
    </div>
</footer>