<footer>
    <div class="container">
        <div class="row copyright">
            <div class="col-md-12">
                <p class="text-small text-center"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                                alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" style="transform: translateY(-2px)"></a>
                    European Investigative Collaborations by <a href="http://eic.network">eic.network</a> is licensed
                    under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
                        Attribution-ShareAlike 4.0 International License</a> if not otherwise stated.
                </p>
            </div>
        </div>
    </div>
</footer>