<section id="{{include.custom_id}}" class="no-padding-bottom">
    <style>
        section#{{include.custom_id}}:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-color: {{include.color}}; 
            background-image: url({{site.url}}/{{include.image}}); 
            background-size: cover;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">{{include.title}}</h2>
            </div>
            <div class="col-md-12">
                {{include.content}}
            </div>
        </div>
    </div>
</section>