<section id="contact" class="padding-bottom section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Contact</h2>
                <div class="row"></div>
                <div class="col-md-12">
                    <p class="text-center">If you want to get in touch please communicate with Stefan Candea at
                        <a href="mailto:rcij@riseup.net">rcij@riseup.net</a> (pgp: 0x8234F8D4A624D9F4).</p>
                </div>
            </div>
        </div>
    </div>
</section