<section id="intro" class="intro image-background">
    <div class="overlay" style="background-color: #fff"></div>
    <div class="content">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1><img src="/assets/images/eic.logo.with-image.svg" style="width:75%"></h1>
                    <p class="roboto" style="color:#000000;">WE PARTNER ON IN-DEPTH REPORTING AT SOURCE</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#about" class="icon faa-float animated scroll-to" style="color:#000000; border-color: #000"><i
                class="fa fa-angle-double-down"></i></a>
</section>
