<section id="intro" class="intro">
    <!-- <div class="overlay" style="background-color: #fff"></div> -->
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/eic.logo.image.svg" class="eic-logo-top-left">
    <div class="content row vertical-align">
        <div class="col-md-12 col-sm-12">
            <h1 class="eic-heading">
                <span class="black-text">EIC</span> <span class="orange-text">Incubator</span>
            </h1>
            <p class="eic-subheading" style="color:#000000;">
                Investigating 
                <span class="orange-text">climate</span> collapse,
                <span class="orange-text">society</span> and
                <span class="orange-text">beyond</span>
            </p>
            <p class="lead">
                a newsroom-endorsed independent non-profit incubator of big investigations,<br>
                stimulating European cross-border journalism in the public interest,<br>
                by matching the EIC.network newsrooms with<br>
                the best investigative resources, practices, technologies in the field.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 spacer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-7 text-center">
            <p class="byline">A project by</p>
        </div>
        <div class="col-xs-3">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/eic.logo.with-image.svg" class="eic-logo-bottom-right">
        </div>        
    </div>
    <a href="#about" class="icon faa-float animated scroll-to" style="color:#000000; border-color: #000"><i
                class="fa fa-angle-double-down"></i></a>
                
            </section>

