{% assign projects = site.projects | sort: 'date' | reverse %}
{% assign projects_count = projects | size %}
{% if projects_count %}
{% include colors.html %}
<section id="{{include.custom_id}}" class="no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">{{include.title}}</h2>
            </div>
            {% if include.content %}
            <div class="col-md-12">
                <p class="{{include.custom_id}}-intro">
                    {{ include.content }}
                </p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
        {% for project in projects %}
            {% include home/cards/project.html %}
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}
