<div class="col-xs-4 team-member">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="{{member.image}}" alt="" style="width: 100%;">
        </div>
    </div>
    <div class="team-member-text">
        <div class="row">
            <div class="col-xs-12">
                <span class="team-member-title">{{member.title}}</span>
                <span class="team-member-link"><a href="{{member.url}}">Read More</a></span>
            </div>
        </div>
    </div>
</div>